<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>escope</title>
    <link href="/css/examples.css" rel="stylesheet" type="text/css">
	<script language="javascript" type="text/javascript" src="/jam/require.js"></script>
    <script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
	<script type="text/javascript">
    require(['flot'], function ($) {
        var options = { lines: { show: true }, points: { show: false }, grid: { hoverable: true, autoHighlight: false }, xaxis: { tickDecimals: 0, tickSize: 100 }, };
        var sock = new SockJS('http://localhost:8000/socket');
        var data = [];
        var channels = [];
        var record_on = 1;
        $.plot("#placeholder", data, options);
        sock.onopen = function() {
            fetch_curve();
        };
        sock.onmessage = function(msg) {
            $.plot("#placeholder", msg["data"], options)
            if (record_on)
            {
                fetch_curve();
            }
        };
        sock.onclose = function() {
        };
        fetch_curve = function() {
            var msg = "curve";
            msg += channels.join();
            sock.send(msg)
        };
        toggle_channel = function(channel_id) {
            record_on = 0;
            var idx = channels.indexOf(channel_id);
            if (idx > -1)
            {
                channels.splice(idx, 1)
            } else
            {
                channels.push(channel_id);
            }
            record_on = 1;
        };
        $("#CH1").click(function () { toggle_channel(1); });
        $("#CH2").click(function () { toggle_channel(2); });
        $("#CH3").click(function () { toggle_channel(3); });
        $("#CH4").click(function () { toggle_channel(4); });
        $("#REC").click(function () { record_on = !record_on; fetch_curve(); });
        toggle_channel(1);
    });

	</script>
</head>
<body>
	<div id="content">
		<div class="demo-container">
			<div id="placeholder" class="demo-placeholder"></div>
		</div>
        <button id="CH1">CH1</button>
        <button id="CH2">CH2</button>
        <button id="CH3">CH3</button>
        <button id="CH4">CH4</button>
        <button id="REC">REC</button>
	</div>
</body>
</html>
